<p *ngIf="Employee.length == 0">No records found!</p>
<table class="table table-bordered mt-4 justify-content-center" *ngIf="Employee.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Designation</th>
        <th scope="col">Phone</th>
        <th scope="col">Location</th>
        <th scope="col center"></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Employee">
        <td>{{item.Name}}</td>
        <td>{{item.Email}}</td>
        <td>{{item.Designation}}</td> 
        <td>{{item.Phone}}</td> 
        <td>{{item.Location}}</td>
        <td>
           <button class="btn btn-primary" style="margin-right: 10px;" [routerLink]="['/UpdateEmployee/',item._id]"><i class="fa fa-edit"></i> Edit</button>
           <button class="btn btn-danger" (click)="DeleteEmployee(item._id)"><i class="fa fa-trash"></i> Delete</button>
        </td>
        </tr>
    </tbody>
    <tbody>