<div class="row justify-content-center mt-4">
    <div class="col-md-4 register-employee">
      <!-- form card register -->
      <div class="card-body">
        <form style="border:thin rgb(194, 190, 190) solid; margin:20px; padding:20px;">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" formControlName="name" />
          </div>
          <div class="form-group">
            <label for="inputEmail3">Email</label>
            <input class="form-control" type="text" formControlName="email" />
          </div>
          <div class="form-group">
            <label for="inputPassword3">Designation</label>
            <select
              class="custom-select form-control"
              formControlName="designation"
            >
            <option value="">Choose...</option>
            <option *ngFor="let item of desginationList" value="{{ item }}">
              {{ item }}
            </option>
             
            </select>
          </div>
          <div class="form-group">
            <label for="inputVerify3">Phone No</label>
            <input
              class="form-control"
              type="text"
              formControlName="phoneNumber"
            />
          </div>
          <div class="form-group">
            <label for="inputVerify4">Location</label>
            <input
              class="form-control"
              type="text"
              formControlName="location"
            />
          </div>
         <br/>
          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit" style="margin-right: 10px;">
              Create
            </button> 
            <button class="btn btn-default btn-lg btn-block" routerLink="/">
                Back
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>